<html>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</html>
<body>
    <div class="container">
        <img src="Afbeelding1-1.jpg" style="width:100%" />
        <h2>Weather in <span th:text="${weather.city}"></span></h2>
        <table class="table">
            <tbody>
            <tr>
                <th>Temperature</th>
                <td th:text="${weather.main.temp}"></td>
            </tr>
            <tr>
                <th>weather</th>
                <td>
                    <ul>
                        <li th:each="item : ${weather.weather}"><span th:text="${item.description}"></span></li>
                     </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>